.rating-mini {
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: #E6E6E6;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: #83B3D3;
}
